body{
	font-family: arial;
	font-size:0.8em;
}

a{
	text-decoration: none;
	color: #FF33FF;
}

.event span {
	font-weight:bold;
}

.detail {
	margin-top: 10px;
	padding-left: 50px;
	background-repeat: no-repeat;
	background-size: 40px 40px;
	min-height: 40px;
	
}

.icon{
	background-image: url("iconsprite.png");
	background-repeat: no-repeat;
	height: 22px;
	width: 22px;
	background-position: 0px 22px;
	float: left;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.event{
	margin-left: 42px;
}

body div {
	width: 75%;
	padding-bottom: 15px;
}

