body{
	font-family: arial;
	font-size:0.8em;
}

a{
	text-decoration: none;
	color: #FF33FF;
}

.title {
	font-weight:bold;
}

.detail {
	margin-top: 10px;
	padding-left: 50px;
	background-repeat: no-repeat;
	background-size: 40px 40px;
	min-height: 40px;
	
}
.detail .hidden {
	font-weight:normal;
	display:none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	min-height: 0px;
}

.anonymous
{
	color: #666;
}

.quote
{
	font-weight: normal;
	text-decoration: italic;
	background-repeat: no-repeat;
	color: #666;
}

.arrow
{
	height: 40px;
	width: 40px;
	padding: 0 10 0 0;
}
.avatar
{
	height:40px;
	width:40px;
	padding: 0 0 0 0;
}
.icon{
	background-image: url("iconsprite.png");
	background-repeat: no-repeat;
	height: 22px;
	width: 22px;
	background-position: 0px 22px;
	float: left;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.event{
	margin-left: 42px;
}

body div {
	padding-bottom: 15px;
}

